div.ep-item {
  margin: 3px;
  padding: 3px;
  border: 1px solid #d9d9d9;
  border-radius: 0;
}

div.ep-item.card:hover {
  background-color: #ffe58f;
}

div.ep-item.divider {
  border-left: 3px solid #aaa;
  color: #aaa;
}

div.ep-manager-container {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
}

.ep-popover-title {
  margin: 0px;
  font-size: 14px !important;
  width: 100%;
  background-color: #f09199;
  overflow: hidden;
  padding: 5px 12px;
  min-width: 100px;
  color: white !important;
}

.ep-popover-button {
  border-radius: 5px !important;
  color: #0084b4;
  padding: 5px 10px;
}

.ep-popover-button:hover {
  background-color: #f09199 !important;
  color: white !important;
}

.ep-popover-button-container {
  background-color: #f0f0f0;
  margin: 0 8px;
  border-radius: 5px;
}

.ep-popover-text {
  font-size: 12px;
}

button.more-eps {
  font-size: 14px;
  color: #888;
}

button.more-eps:hover {
  color: #0084B4;
}